<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Environment Manager Code Quality Rules" Description="Code quality rules for measuring maintainability and complexity." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1501" Action="Warning" /> <!-- Avoid excessive inheritance -->
    <Rule Id="CA1502" Action="Warning" /> <!-- Avoid excessive complexity -->
    <Rule Id="CA1505" Action="Warning" /> <!-- Avoid unmaintainable code -->
    <Rule Id="CA1506" Action="Warning" /> <!-- Avoid excessive class coupling -->
    <Rule Id="CA1507" Action="Warning" /> <!-- Use nameof in place of string -->
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" /> <!-- Do not pass literals as localized parameters -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1600" Action="Warning" /> <!-- Elements should be documented -->
    <Rule Id="SA1601" Action="Warning" /> <!-- Partial elements should be documented -->
    <Rule Id="SA1602" Action="Warning" /> <!-- Enumeration items should be documented -->
  </Rules>
</RuleSet> 